---
import GlobalStyles from "@/components/atoms/GlobalStyles.astro";
import Footer from "@/components/organisms/Footer.astro";
import Header from "@/components/organisms/Header.astro";
import { site } from "@/config";
import { ClientRouter } from "astro:transitions";

// Context
interface Props {
  description: string;
  title?: string;
}

const { title, description } = Astro.props;
const fullTitle = `${title ? `${title} - ` : ""}Har Clustering`;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{fullTitle}</title>

    <link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="index, follow" />

    <meta name="author" content="Andrea, Ãngel y Martin" />
    <meta
      name="keywords"
      content="har,clustering,reconocimiento de actividad humana"
    />
    <meta name="description" content={description} />

    <link rel="canonical" href={site} />
    <link rel="alternate" hreflang="es" href={site} />

    <meta property="og:site_name" content={fullTitle} />
    <meta property="og:url" content={site} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={fullTitle} />
    <meta property="og:locale" content="es" />
    <meta property="og:description" content={description} />
    <slot name="og:image">
      <meta property="og:image" content=`${site}/og.png` />
      <meta property="og:image:alt" content="HAR" />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
    </slot>

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={site.replace("https://", "")} />
    <meta property="twitter:url" content={site} />
    <meta property="twitter:title" content={fullTitle} />
    <meta property="twitter:description" content={description} />
    <slot name="twitter:image">
      <meta name="twitter:image" content=`${site}/og.png` />
      <meta name="twitter:image:alt" content="HAR" />
      <meta name="twitter:image:width" content="1200" />
      <meta name="twitter:image:height" content="630" />
    </slot>

    <meta name="theme-color" content="#1e3a8a" />

    <meta name="msapplication-TileColor" content="#1e3a8a" />
    <meta name="msapplication-TileImage" content="/mstile-150x150.png" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="preconnect" href="https://api-har.martindotpy.dev" />

    <slot name="head" />

    {/* Styles */}
    <GlobalStyles />

    {/* Scripts */}
    <ClientRouter />
  </head>
  <body class="overflow-y-scroll">
    <Header />

    <main class="min-h-main-h mt-header-h overflow-x-hidden">
      <slot />
    </main>

    <Footer />
  </body>
</html>
